body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    }
textarea {
    resize: none;
}
#sourcemap_content .error_message{
    color:#F46;
}
p{
    line-height: 100%;
    font-size: 0.8em;
}
span.summary{
    line-height: 120%;
    font-weight: bold;
}
.tabs {
    margin-top: 0px;
    padding: 5px 5px;
    background-color: #fff;
    margin: 0 auto;}
/*タブのスタイル*/
.tab_item {
    padding: 1px 7px;
    border-bottom: 3px solid #455a64;
    background-color: #d9d9d9;
    line-height: 130%;
    font-size: 13px;
    text-align: center;
    color: #565656;
    display: block;
    float: left;
    text-align: center;
    transition: all 0.2s ease;
}
.tab_item:hover {
    opacity: 0.75;
}
/*ラジオボタンを全て消す*/
input[name="tab_item"] {
    display: none;
}
/*タブ切り替えの中身のスタイル*/
.tab_content {
    min-width: 600px;
    display: none;
    padding: 10px 10px 0;
    clear: both;
    overflow: hidden;
}
/*選択されているタブのコンテンツのみを表示*/
#tab_ed:checked ~ #tab_ed_content,
#expose_password:checked ~ #expose_password_content,
#xml:checked ~ #xml_content,
#diff:checked ~ #diff_content,
#frame:checked ~ #frame_content,
#sourcemap:checked ~ #sourcemap_content,
#safeguard:checked ~ #safeguard_content,
#qr:checked ~ #qr_content,
#random:checked ~ #random_content,
#json:checked ~ #json_content {
    display: block;
}
/*選択されているタブのスタイルを変える*/
.tabs input:checked + .tab_item {
    border-radius:3px 3px 0 0 / 3px 3px 0 0;
    background-color: #455a64;
    color: #fff;
}
table#ascii{
    border: solid 1px #ccc;
    border-collapse: collapse;
    font-family: monospace;
}
table#ascii>table{
    border: none;
    border-collapse: collapse;
}
td {
    border:none;
}
